@import "@mdi/font/css/materialdesignicons.css";

$black:                  #000;
$gray-darker:            #394249;
$gray-dark:              #434C53;
$gray:                   #6D7579;
$gray-light:             #B0B6B8;
$gray-lighter:           #D5D9D8;

$audi-red:               #CC0033;
$audi-dark-red:          #AA142D;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $black;
  background-color: $gray-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $black;
  transition: all 200ms ease-in-out;
  &:hover {
    color: $gray-darker
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
}

